name: Docker Build & Publish

on:
  push:
    branches: [ "main" ]
    # paths:
    #   - 'internal/updater/**'
#   workflow_dispatch:

env:
  IMAGE_NAME: edustartech/edustartech:app-release-manager

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    # defaults:
    #   run:
    #     working-directory: internal/updater

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ env.IMAGE_NAME }}
          cache-from: type=registry,ref=${{ env.IMAGE_NAME }}
          cache-to: type=inline

      - name: Notify Dokploy
        if: success()
        run: |
          curl -X 'POST' \
          "${{ vars.DOKPLOY_WEBHOOK_URL }}" \
          -H 'accept: application/json' \
          -H 'Authorization: Bearer ${{ secrets.DOKPLOY_TOKEN }}' \
          -H 'Content-Type: application/json' \
          -d '{
              "json":{
                  "applicationId": "internal-apps-app-release-manager-dlf31b"
              }
          }'
